*.o
*~
*.log
test.*
sample.*
.DS_Store
divstats
*.divstats.out
# vendored GSL, no longer used (B3 removed the only gsl_combination call)
lib/*/libgsl.a
lib/*/libgslcblas.a
include/gsl/
*.divstats.out*
*.sweepfinder.out
